/*头部样式 start*/
.logo {
    width: 100px;
    height: 100px;
}

/*主题样式*/
.select {
    margin-left: 60%;
}

.add_btn {
    width: 100%;
    min-height: 28px;
}

.return_results {
    background-color: #000;
    color: #2090c6
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}
code {
    font-family: monospace;
}

/*底部样式 start*/
p {
    text-align: center;
    color: #777777;
    font-size: 12px
}

p a {
    text-decoration: none;
    color: #777777
}